<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          {% if session.logged_in %}
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">DataEntry<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/dataentry">TV</a></li>
              <li><a href="/newspaper">Newspaper</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Dashboard<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard">TV</a></li>
              <li><a href="/dashboardnewspaper">Newspaper</a></li>
            </ul>
          </li>
          <li><a href="/logout">logout</a></li>

          {% else %}
          <li><a href="/login">Login</a></li>
          {% endif %}


        
       
      

        </ul>

        

      

      </div>
    </div>
  </nav>